!!!
%html{lang: 'en'}
  = render 'layouts/head'
  %body
    = render "layouts/about"
    = render "layouts/flavors"
    = render "layouts/legal"
    = render "layouts/contact"

    = yield

    = render 'layouts/footer'